{%
import 'macros.twig' as macros
%}{{ class.name }}
=====================

{% block description %}{{ class.description }}{% endblock %}

#### Methods

{% for method in class.methods %}
- [`{{ macros.method(method, false) }}`](#{{ method.name }})
{% endfor %}
{% if class.extends %}

##### Extends

`{{ class.extends }}`
{% endif %}

{% for method in class.methods %}

---

<a name="{{ method.name }}" id="{{ method.name }}"></a>
### `{{ macros.method(method) }}`
{% if method.description %}

{{ method.description }}
{% endif %}
{% if method.arguments %}

#### Arguments
{% for argument in method.arguments %}
- {{ macros.method_argument_description(argument) }}
{% endfor %}
{% endif %}
{% if method.return %}

#### Return
`({{ method.return.type }})`{%
    if method.return.description != ''
        %} {{ method.return.description }}
        {%
    endif
%}

{% endif %}
{% if method.examples != '' %}

#### Examples
{{ method.examples|raw }}
{% endif %}

{% endfor %}
